{% extends "base.html" %}

{% block body %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p><b>
        {{ form.amount.label }}<br></b>
        {{ form.amount(cols="10") }} {{ form.currency() }}
        {% for error in form.amount.errors %}
    <p><span style="color: red;">{{ "Введите сумму. Доступное значение от 0.01 до 9999" }}</span></p>
    {% endfor %}
    <p>
        {{ form.description_field.label }}<br>
        {{ form.description_field(cols="35", rows="5") }}
    </p>
    <form>
        <input type="submit"/>
    </form>
</form>
{% endblock %}
