{% extends "base.html" %}

{% block body %}
<form action="" method="post">
    <p><b>Введите сумму:</b><br>
        <input name="amount" type="number" step="0.01" size="40">
    </p>
    <p><b>Выберите валюту:</b><Br>
        <select name="currency">
            <option>EUR</option>
            <option>USD</option>
            <option>RUB</option>
        </select>
    </p>
    <p><b>Описание товара</b><Br>
        <textarea name="description" cols="40" rows="3"></textarea></p>
    <p><input type="submit" value="Оплатить"></p>
</form>
{% endblock %}
